In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#performance metrics between, original data(after 31-12-2020) and dynamically predicted data (after 31-12-2020)
dynamic_inc=pd.read_csv('/content/drive/My Drive/experiment/take 14-03-2021/data_inc/mdynamic.csv')       #metric values when test data is learned by lstm model
dynamic_no_inc=pd.read_csv('/content/drive/My Drive/experiment/take 14-03-2021/data_no_inc/mdynamic.csv') #metric values when test daa is not learned by lstm model

In [ ]:
dynamic_inc.describe()              #describing the metric values when test data is learned by lstm model (an increment in learning)

             MSE       RMSE        MAE         R2       MAPE
count  42.000000  42.000000  42.000000  42.000000  42.000000
mean    0.000797   0.024465   0.019977  -1.207720   5.682617
std     0.000980   0.014255   0.011522   2.219056   4.410901
min     0.000015   0.003863   0.003057  -6.796232   0.966909
25%     0.000279   0.016701   0.013489  -1.460039   3.024877
50%     0.000484   0.021999   0.018415  -0.209058   4.296074
75%     0.000947   0.030777   0.026389   0.211428   6.731048
max     0.005215   0.072213   0.061914   0.712507  20.999206

In [ ]:
dynamic_no_inc.describe()            #describing the metric values when test data is not learned by lstm model

             MSE       RMSE        MAE         R2       MAPE
count  42.000000  42.000000  42.000000  42.000000  42.000000
mean    0.001635   0.032934   0.028879  -4.360033   5.532587
std     0.002383   0.023735   0.022732  12.262468   2.610575
min     0.000002   0.001403   0.001159 -72.653879   1.442721
25%     0.000197   0.013978   0.010972  -3.216143   4.042593
50%     0.000913   0.030205   0.026783  -0.361708   5.138320
75%     0.002351   0.048398   0.041646   0.080701   7.100726
max     0.013943   0.118082   0.115774   0.781316  15.300330

In [ ]:
#performance metrics between, original test data and predicted test data
test_inc=pd.read_csv('/content/drive/My Drive/experiment/take 14-03-2021/data_inc/mtest.csv')       #metric values when test data is learned (an increment)
test_no_inc=pd.read_csv('/content/drive/My Drive/experiment/take 14-03-2021/data_no_inc/mtest.csv') #metric values when test daa is not learned

In [ ]:
test_inc.describe()

             MSE       RMSE        MAE         R2       MAPE
count  42.000000  42.000000  42.000000  42.000000  42.000000
mean    0.001562   0.035948   0.026866   0.852968        inf
std     0.001478   0.016610   0.013200   0.168901        NaN
min     0.000039   0.006249   0.004711   0.331036   8.789705
25%     0.000618   0.024844   0.019473   0.810486  41.329568
50%     0.001166   0.034144   0.024295   0.918263        inf
75%     0.002233   0.047255   0.035289   0.964560        inf
max     0.008483   0.092105   0.076188   0.979284        inf

In [ ]:
test_no_inc.describe()

             MSE       RMSE        MAE         R2       MAPE
count  42.000000  42.000000  42.000000  42.000000  42.000000
mean    0.001574   0.036366   0.027019   0.852577        inf
std     0.001394   0.016047   0.012364   0.164266        NaN
min     0.000067   0.008169   0.006610   0.348488   8.418600
25%     0.000654   0.025576   0.019251   0.795519  41.240706
50%     0.001217   0.034882   0.026528   0.927335        inf
75%     0.002273   0.047668   0.034736   0.951342        inf
max     0.007930   0.089050   0.069612   0.978070        inf