In [1]:
import pandas as pd
import numpy as np
from datetime import date,timedelta

In [2]:
from yahoofinance import HistoricalPrices as get_history
#ensure yahoofinance package is installed  "pip install yahoofinance"
import yfinance as yf

# Change the dates here carefully

In [3]:
start_date = date(2021,1,12)
#date in Year, Month, Day
end_date = date(2021,1,15)

In [4]:
#nifty_50_stocks_list=pd.read_csv('ind_nifty50list2022.csv')
#use the csv file from nifty website
nifty_50_stocks = ["ASIANPAINT","BAJFINANCE","BAJAJFINSV","BRITANNIA",'DIVISLAB','GRASIM','HCLTECH','HDFCBANK',
                   'HINDALCO','HINDUNILVR','ICICIBANK','INFY','JSWSTEEL','LT','NESTLEIND','POWERGRID','RELIANCE','TCS','TATACONSUM','TATASTEEL',
                   'TECHM','TITAN','ULTRACEMCO','WIPRO'] 
#Choose the stock symbols

## Data collection
###

In [5]:
k=0 
for i in nifty_50_stocks :
    print(str(k+1)+": stock_name:\t", i)
    k+=1
    x = yf.download( i+'.NS',start=start_date,end=end_date) #yahoofinance function to get the stock data
    
    x.to_csv('{}.csv'.format(i))

1: stock_name:	 ASIANPAINT
[*********************100%***********************]  1 of 1 completed
2: stock_name:	 BAJFINANCE
[*********************100%***********************]  1 of 1 completed
3: stock_name:	 BAJAJFINSV
[*********************100%***********************]  1 of 1 completed
4: stock_name:	 BRITANNIA
[*********************100%***********************]  1 of 1 completed
5: stock_name:	 DIVISLAB
[*********************100%***********************]  1 of 1 completed
6: stock_name:	 GRASIM
[*********************100%***********************]  1 of 1 completed
7: stock_name:	 HCLTECH
[*********************100%***********************]  1 of 1 completed
8: stock_name:	 HDFCBANK
[*********************100%***********************]  1 of 1 completed
9: stock_name:	 HINDALCO
[*********************100%***********************]  1 of 1 completed
10: stock_name:	 HINDUNILVR
[*********************100%***********************]  1 of 1 completed
11: stock_name:	 ICICIBANK
[*********************100%***********************]  1 of 1 completed
12: stock_name:	 INFY
[*********************100%***********************]  1 of 1 completed
13: stock_name:	 JSWSTEEL
[*********************100%***********************]  1 of 1 completed
14: stock_name:	 LT
[*********************100%***********************]  1 of 1 completed
15: stock_name:	 NESTLEIND
[*********************100%***********************]  1 of 1 completed
16: stock_name:	 POWERGRID
[*********************100%***********************]  1 of 1 completed
17: stock_name:	 RELIANCE
[*********************100%***********************]  1 of 1 completed
18: stock_name:	 TCS
[*********************100%***********************]  1 of 1 completed
19: stock_name:	 TATACONSUM
[*********************100%***********************]  1 of 1 completed
20: stock_name:	 TATASTEEL
[*********************100%***********************]  1 of 1 completed
21: stock_name:	 TECHM
[*********************100%***********************]  1 of 1 completed
22: stock_name:	 TITAN
[*********************100%***********************]  1 of 1 completed
23: stock_name:	 ULTRACEMCO
[*********************100%***********************]  1 of 1 completed
24: stock_name:	 WIPRO
[*********************100%***********************]  1 of 1 completed

In [6]:
nifty50=pd.DataFrame()
nifty50

Empty DataFrame
Columns: []
Index: []

In [7]:
for i in nifty_50_stocks:
    x = pd.read_csv('{}.csv'.format(i), usecols=["Adj Close","Date"],index_col="Date")
    #print(x)
    nifty50 = pd.concat([nifty50,x],axis = 1)
                                                       #getting each stock data one by one and concatanating it into the 'allData' frame

              Adj Close
Date
2021-01-12  2703.955566
2021-01-13  2687.208252
2021-01-14  2647.650879
              Adj Close
Date
2021-01-12  5034.065918
2021-01-13  4894.990234
2021-01-14  4869.481445
              Adj Close
Date
2021-01-12  8956.828125
2021-01-13  8791.518555
2021-01-14  8745.229492
              Adj Close
Date
2021-01-12  3559.314453
2021-01-13  3549.023438
2021-01-14  3592.441162
              Adj Close
Date
2021-01-12  3752.119141
2021-01-13  3704.215332
2021-01-14  3709.493896
              Adj Close
Date
2021-01-12  1007.610168
2021-01-13  1030.598755
2021-01-14  1017.533691
              Adj Close
Date
2021-01-12  1023.081360
2021-01-13  1017.157288
2021-01-14   989.945129
              Adj Close
Date
2021-01-12  1474.617798
2021-01-13  1464.312500
2021-01-14  1462.420654
             Adj Close
Date
2021-01-12  262.533783
2021-01-13  260.845459
2021-01-14  259.604034
              Adj Close
Date
2021-01-12  2344.424805
2021-01-13  2340.922119
2021-01-14  2366.775146
             Adj Close
Date
2021-01-12  546.400146
2021-01-13  554.875305
2021-01-14  551.684631
              Adj Close
Date
2021-01-12  1345.183960
2021-01-13  1360.285767
2021-01-14  1343.958130
             Adj Close
Date
2021-01-12  391.858246
2021-01-13  395.192810
2021-01-14  388.768890
              Adj Close
Date
2021-01-12  1334.692749
2021-01-13  1337.362427
2021-01-14  1361.192749
               Adj Close
Date
2021-01-12  17796.386719
2021-01-13  17816.359375
2021-01-14  17928.382812
             Adj Close
Date
2021-01-12  141.332062
2021-01-13  142.234024
2021-01-14  142.303406
              Adj Close
Date
2021-01-12  1950.774536
2021-01-13  1932.583130
2021-01-14  1954.313110
              Adj Close
Date
2021-01-12  3134.993652
2021-01-13  3119.293213
2021-01-14  3215.999268
             Adj Close
Date
2021-01-12  620.702576
2021-01-13  616.825134
2021-01-14  610.461975
             Adj Close
Date
2021-01-12  679.689697
2021-01-13  693.627747
2021-01-14  690.888977
              Adj Close
Date
2021-01-12  1026.159424
2021-01-13  1031.414673
2021-01-14  1014.974243
              Adj Close
Date
2021-01-12  1523.445312
2021-01-13  1502.196411
2021-01-14  1486.384277
              Adj Close
Date
2021-01-12  5611.616211
2021-01-13  5623.309082
2021-01-14  5555.241211
             Adj Close
Date
2021-01-12  455.931000
2021-01-13  457.225983
2021-01-14  452.593964

In [8]:
nifty50.columns=nifty_50_stocks

In [9]:
nifty50

,ASIANPAINT,BAJFINANCE,BAJAJFINSV,BRITANNIA,DIVISLAB,GRASIM,HCLTECH,HDFCBANK,HINDALCO,HINDUNILVR,...,NESTLEIND,POWERGRID,RELIANCE,TCS,TATACONSUM,TATASTEEL,TECHM,TITAN,ULTRACEMCO,WIPRO
Date,,,,,,,,,,,,,,,,,,,,,
2021-01-12,2703.955566,5034.065918,8956.828125,3559.314453,3752.119141,1007.610168,1023.081360,1474.617798,262.533783,2344.424805,...,17796.386719,141.332062,1950.774536,3134.993652,620.702576,679.689697,1026.159424,1523.445312,5611.616211,455.931000
2021-01-13,2687.208252,4894.990234,8791.518555,3549.023438,3704.215332,1030.598755,1017.157288,1464.312500,260.845459,2340.922119,...,17816.359375,142.234024,1932.583130,3119.293213,616.825134,693.627747,1031.414673,1502.196411,5623.309082,457.225983
2021-01-14,2647.650879,4869.481445,8745.229492,3592.441162,3709.493896,1017.533691,989.945129,1462.420654,259.604034,2366.775146,...,17928.382812,142.303406,1954.313110,3215.999268,610.461975,690.888977,1014.974243,1486.384277,5555.241211,452.593964

In [10]:
nifty50.to_csv(str(end_date - timedelta(days=1))+'.csv')  #saving the data without preprocessing