In [1]:
import pandas as pd
import numpy as np
from datetime import date

In [2]:
from yahoofinance import HistoricalPrices as get_history
#ensure yahoofinance package is installed  "pip install yahoofinance"
import yfinance as yf

In [3]:
start_date = date(2016,1,1) #date in Year, Month, Day
end_date = date(2022,3,1)

In [4]:
nifty_50_stocks_list=pd.read_csv('ind_nifty50list2022.csv')
#use the csv file from nifty website
nifty_50_stocks = list(nifty_50_stocks_list['Symbol']) 
#Choose the stock symbols

## Data collection
### storing all the stocks historical data(2017/oct/31 to 2021/oct/31

In [11]:
k=0 
for i in nifty_50_stocks :
    print(str(k+1)+": stock_name:\t", i)
    k+=1
    x = yf.download( i+'.NS',start=start_date,end=end_date) #yahoofinance function to get the stock data
    
    x.to_csv('{}.csv'.format(i))

1: stock_name:	 ADANIPORTS
[*********************100%***********************]  1 of 1 completed
2: stock_name:	 ASIANPAINT
[*********************100%***********************]  1 of 1 completed
3: stock_name:	 AXISBANK
[*********************100%***********************]  1 of 1 completed
4: stock_name:	 BAJAJ-AUTO
[*********************100%***********************]  1 of 1 completed
5: stock_name:	 BAJFINANCE
[*********************100%***********************]  1 of 1 completed
6: stock_name:	 BAJAJFINSV
[*********************100%***********************]  1 of 1 completed
7: stock_name:	 BPCL
[*********************100%***********************]  1 of 1 completed
8: stock_name:	 BHARTIARTL
[*********************100%***********************]  1 of 1 completed
9: stock_name:	 BRITANNIA
[*********************100%***********************]  1 of 1 completed
10: stock_name:	 CIPLA
[*********************100%***********************]  1 of 1 completed
11: stock_name:	 COALINDIA
[*********************100%***********************]  1 of 1 completed
12: stock_name:	 DIVISLAB
[*********************100%***********************]  1 of 1 completed
13: stock_name:	 DRREDDY
[*********************100%***********************]  1 of 1 completed
14: stock_name:	 EICHERMOT
[*********************100%***********************]  1 of 1 completed
15: stock_name:	 GRASIM
[*********************100%***********************]  1 of 1 completed
16: stock_name:	 HCLTECH
[*********************100%***********************]  1 of 1 completed
17: stock_name:	 HDFCBANK
[*********************100%***********************]  1 of 1 completed
18: stock_name:	 HDFCLIFE
[*********************100%***********************]  1 of 1 completed
19: stock_name:	 HEROMOTOCO
[*********************100%***********************]  1 of 1 completed
20: stock_name:	 HINDALCO
[*********************100%***********************]  1 of 1 completed
21: stock_name:	 HINDUNILVR
[*********************100%***********************]  1 of 1 completed
22: stock_name:	 HDFC
[*********************100%***********************]  1 of 1 completed
23: stock_name:	 ICICIBANK
[*********************100%***********************]  1 of 1 completed
24: stock_name:	 ITC
[*********************100%***********************]  1 of 1 completed
25: stock_name:	 IOC
[*********************100%***********************]  1 of 1 completed
26: stock_name:	 INDUSINDBK
[*********************100%***********************]  1 of 1 completed
27: stock_name:	 INFY
[*********************100%***********************]  1 of 1 completed
28: stock_name:	 JSWSTEEL
[*********************100%***********************]  1 of 1 completed
29: stock_name:	 KOTAKBANK
[*********************100%***********************]  1 of 1 completed
30: stock_name:	 LT
[*********************100%***********************]  1 of 1 completed
31: stock_name:	 M&M
[*********************100%***********************]  1 of 1 completed
32: stock_name:	 MARUTI
[*********************100%***********************]  1 of 1 completed
33: stock_name:	 NTPC
[*********************100%***********************]  1 of 1 completed
34: stock_name:	 NESTLEIND
[*********************100%***********************]  1 of 1 completed
35: stock_name:	 ONGC
[*********************100%***********************]  1 of 1 completed
36: stock_name:	 POWERGRID
[*********************100%***********************]  1 of 1 completed
37: stock_name:	 RELIANCE
[*********************100%***********************]  1 of 1 completed
38: stock_name:	 SBILIFE
[*********************100%***********************]  1 of 1 completed
39: stock_name:	 SHREECEM
[*********************100%***********************]  1 of 1 completed
40: stock_name:	 SBIN
[*********************100%***********************]  1 of 1 completed
41: stock_name:	 SUNPHARMA
[*********************100%***********************]  1 of 1 completed
42: stock_name:	 TCS
[*********************100%***********************]  1 of 1 completed
43: stock_name:	 TATACONSUM
[*********************100%***********************]  1 of 1 completed
44: stock_name:	 TATAMOTORS
[*********************100%***********************]  1 of 1 completed
45: stock_name:	 TATASTEEL
[*********************100%***********************]  1 of 1 completed
46: stock_name:	 TECHM
[*********************100%***********************]  1 of 1 completed
47: stock_name:	 TITAN
[*********************100%***********************]  1 of 1 completed
48: stock_name:	 UPL
[*********************100%***********************]  1 of 1 completed
49: stock_name:	 ULTRACEMCO
[*********************100%***********************]  1 of 1 completed
50: stock_name:	 WIPRO
[*********************100%***********************]  1 of 1 completed

In [12]:
nifty50=pd.DataFrame()

In [13]:
for i in nifty_50_stocks:
    x = pd.read_csv('{}.csv'.format(i), usecols=["Adj Close"])
    nifty50 = pd.concat([nifty50,x],axis = 1)
                                                       #getting each stock data one by one and concatanating it into the 'allData' frame

In [14]:
nifty50.columns=nifty_50_stocks

In [15]:
nifty50.to_csv('raw_n50.csv')  #saving the data without preprocessing

In [16]:
nifty50

,ADANIPORTS,ASIANPAINT,AXISBANK,BAJAJ-AUTO,BAJFINANCE,BAJAJFINSV,BPCL,BHARTIARTL,BRITANNIA,CIPLA,...,SUNPHARMA,TCS,TATACONSUM,TATAMOTORS,TATASTEEL,TECHM,TITAN,UPL,ULTRACEMCO,WIPRO
0,259.295502,845.420410,440.847687,2136.002197,601.376648,1978.063843,196.817612,303.169037,1374.428101,638.705994,...,779.070923,1075.699341,135.227539,401.737305,215.094711,444.897217,340.026611,276.159393,2772.252441,202.645737
1,249.991699,847.392700,429.579071,2106.608887,597.095093,1953.833984,195.807251,290.971069,1368.077271,629.252380,...,763.356628,1054.865723,132.733597,376.897339,214.676865,441.774658,339.398804,272.083008,2698.774414,203.100952
2,247.811111,866.489868,427.668335,2122.726318,591.708618,1940.373047,198.267303,287.988312,1365.361816,624.574280,...,764.694092,1045.673096,137.028732,374.298431,229.217087,446.479889,335.825195,272.992340,2682.969238,202.809601
3,244.031418,852.780396,422.034027,2108.432617,602.501282,1932.944702,200.386978,286.875366,1381.469971,635.538513,...,756.526550,1060.207886,134.165298,365.751862,224.579269,449.217407,335.970032,278.040802,2685.178467,202.154083
4,237.441208,839.263184,401.015594,2052.233398,602.407593,1921.477783,194.225754,287.008911,1356.088135,621.260620,...,748.741211,1055.600342,129.362152,343.410919,208.827377,436.983887,332.299835,261.766602,2618.816650,200.242172
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1517,705.549988,3227.149902,779.150024,3600.699951,7011.350098,16189.450195,355.299988,699.250000,3489.750000,913.400024,...,845.799988,3586.399902,715.200012,478.250000,1138.699951,1412.550049,2450.100098,693.349976,6749.549805,564.150024
1518,706.700012,3237.199951,777.200012,3580.300049,7044.549805,16133.599609,357.100006,704.400024,3511.149902,914.900024,...,840.250000,3563.800049,723.250000,477.000000,1139.000000,1413.300049,2495.699951,688.000000,6780.200195,567.099976
1519,654.849976,3069.050049,730.299988,3478.899902,6627.799805,15245.200195,333.049988,670.900024,3446.000000,895.799988,...,818.250000,3401.649902,677.700012,427.950012,1074.000000,1333.000000,2406.600098,632.299988,6418.450195,537.150024
1520,695.150024,3119.199951,758.049988,3508.399902,6969.399902,15772.150391,336.350006,688.650024,3422.750000,923.650024,...,831.549988,3520.750000,709.500000,459.750000,1145.349976,1389.699951,2468.449951,654.700012,6570.250000,555.250000
1521,707.500000,3174.649902,742.400024,3530.350098,7002.299805,16012.549805,349.799988,686.500000,3427.449951,925.049988,...,843.900024,3554.199951,718.599976,454.049988,1220.750000,1410.000000,2546.550049,665.450012,6567.899902,555.799988

In [17]:
nifty50.isnull().sum()

ADANIPORTS      0
ASIANPAINT      0
AXISBANK        0
BAJAJ-AUTO      0
BAJFINANCE      0
BAJAJFINSV      0
BPCL            0
BHARTIARTL      0
BRITANNIA       0
CIPLA           0
COALINDIA       0
DIVISLAB        0
DRREDDY         0
EICHERMOT       0
GRASIM          0
HCLTECH         0
HDFCBANK        0
HDFCLIFE      464
HEROMOTOCO      0
HINDALCO        0
HINDUNILVR      0
HDFC            0
ICICIBANK       0
ITC             0
IOC             0
INDUSINDBK      0
INFY            0
JSWSTEEL        0
KOTAKBANK       0
LT              0
M&M             0
MARUTI          0
NTPC            0
NESTLEIND       0
ONGC            0
POWERGRID       0
RELIANCE        0
SBILIFE       432
SHREECEM        0
SBIN            0
SUNPHARMA       0
TCS             0
TATACONSUM      0
TATAMOTORS      0
TATASTEEL       0
TECHM           0
TITAN           0
UPL             0
ULTRACEMCO      0
WIPRO           0
dtype: int64

## Filter 1
### dropping the stock/asset which has more than 2 null value otherwise filling the null values with adjacent value of day before

In [18]:
#filling the null values with forward fill and backward fill methods
for i in nifty50.columns.to_list():
    if nifty50[i].isnull().sum()>2:
        nifty50.drop(i,axis=1,inplace=True)
    else:
        nifty50[i].fillna(method='bfill',axis=0,inplace=True)
        nifty50[i].fillna(method='ffill',axis=0,inplace=True)

In [19]:
nifty50.isnull().sum()

ADANIPORTS    0
ASIANPAINT    0
AXISBANK      0
BAJAJ-AUTO    0
BAJFINANCE    0
BAJAJFINSV    0
BPCL          0
BHARTIARTL    0
BRITANNIA     0
CIPLA         0
COALINDIA     0
DIVISLAB      0
DRREDDY       0
EICHERMOT     0
GRASIM        0
HCLTECH       0
HDFCBANK      0
HEROMOTOCO    0
HINDALCO      0
HINDUNILVR    0
HDFC          0
ICICIBANK     0
ITC           0
IOC           0
INDUSINDBK    0
INFY          0
JSWSTEEL      0
KOTAKBANK     0
LT            0
M&M           0
MARUTI        0
NTPC          0
NESTLEIND     0
ONGC          0
POWERGRID     0
RELIANCE      0
SHREECEM      0
SBIN          0
SUNPHARMA     0
TCS           0
TATACONSUM    0
TATAMOTORS    0
TATASTEEL     0
TECHM         0
TITAN         0
UPL           0
ULTRACEMCO    0
WIPRO         0
dtype: int64

In [20]:
stocks=nifty50.columns.to_list()

In [21]:
Date = pd.read_csv(stocks[8]+'.csv', usecols=["Date"]) #get dates from any stock csv file  
nifty50 = pd.concat([nifty50,Date],axis = 1)#concatenate dates to the current dataframe
nifty50.set_index('Date',inplace = True) #set dates as index in the current dataframe

In [22]:
nifty50.to_csv("n50_filter1.csv")

In [23]:
df=pd.read_csv("n50_filter1.csv",parse_dates=['Date'],index_col='Date')
d=pd.read_csv('n50_filter1.csv',parse_dates=['Date'],index_col='Date')
d=d.loc["2016-01-01":"2022-3-15"]

In [24]:
def number_of_years(y):        #calculates the number of years of the dataset
  p=y.index[0]                 #date of first row in the dataset (datetime format)
  q=y.index[len(y)-1]          #date of last row in the dataset  (datetime format)
  return ((q-p).days+1)/365    #the difference give the number of total days (not trading days) over the total number of years in the dataset

In [25]:
trading_days=len(d)/number_of_years(d)                       #Trading days per year (automated)
d.reset_index(drop=True, inplace=True)

In [26]:
returns=d.pct_change()
returns.fillna(0,inplace=True)
#getting the returns as percentage change

In [27]:
mean_return=returns.mean()*trading_days

In [28]:
niftyindx = pd.read_csv('n50_1jan2016-1_mar_2022.csv',usecols=['Adj Close','Date'],parse_dates=['Date'],index_col='Date')
niftyindx = niftyindx.loc["2016-01-01" : "2021-3-1"]
niftyindx.reset_index(drop=True, inplace=True)

In [29]:
niftyindx['Adj Close'].fillna(method='bfill',axis=0,inplace=True)
niftyindx['Adj Close'].fillna(method='ffill',axis=0,inplace=True)

In [30]:
niftyindx_return = niftyindx.pct_change() 
niftyindx_return.fillna(0,inplace=True)
mean_niftyindx_return=niftyindx_return.mean()[0]*trading_days        #getting the annual mean returns of nifty50 index

In [31]:
def rempos(x):  #mark positive values as 0 because semideviation only has negative returns
  for i in range(0,len(x)):
    if x['Adj Close'][i]>0:
      x['Adj Close'][i]=0
  return x
def rempo(x):
  for i in range(0,len(x)):
    if x[i]>0:
      x[i]=0
  return x

In [32]:
drisk_niftyindx=rempos(niftyindx_return.copy()).std()[0]*trading_days  
#downside risk i.e., semi-deviation of nifty50 index

In [34]:
risk_free_rate = 0.0358                   #initializing risk free rate that will be used in calculating both the ratios (absolute value)
#referred from url: https://www.rbi.org.in/Scripts/BS_NSDPDisplay.aspx?param=4&Id=24292
#In the above url, the 364 (1 year => 01-01-2021) day treasury bill is 4.26% , when taken absolute value => 0.0426
# (improved)

In [35]:
def ratio(a,b,c):#function to calculate ratio i.e. "(returns-(risk_free_rate))/deviation"
  return (a-c)/b  #a => annual return, c => risk_free_rate, b => deviation (standard for sharpe, semi for sortino)

In [36]:
sortino_niftyindx=ratio(mean_niftyindx_return,drisk_niftyindx,risk_free_rate)      #getting the sortino ratio of nifty50 index

## Filter 2
### Nifty50 index Sortino ratio is compared with each assets sortino ratio
### if asset's srotino ratio is less than nifty index sortino ratio the asset is dropped

In [37]:
for i in returns.columns.to_list(): #for every remaining stock in the data
  ret=returns[i].mean()*trading_days  #get the annual mean return
  drisk=rempo(returns[i].copy()).std()*trading_days #get the semideviation
  sortino=ratio(ret,drisk,risk_free_rate)   #get the sortiono ratio
  if sortino < sortino_niftyindx:  #compare it with nifty50 index's sortino ratio
    returns.drop(labels=[i],axis=1,inplace=True)    #if less, drop it
    d.drop(labels=[i],axis=1,inplace=True)
    df.drop(labels=[i],axis=1,inplace=True)

In [38]:
d

,ADANIPORTS,ASIANPAINT,BAJFINANCE,BAJAJFINSV,BRITANNIA,DIVISLAB,GRASIM,HCLTECH,HDFCBANK,HINDALCO,...,NESTLEIND,POWERGRID,RELIANCE,TCS,TATACONSUM,TATASTEEL,TECHM,TITAN,ULTRACEMCO,WIPRO
0,259.295502,845.420410,601.376648,1978.063843,1374.428101,1103.977661,563.788391,376.525543,526.229126,81.983368,...,5280.469727,81.026634,484.996368,1075.699341,135.227539,215.094711,444.897217,340.026611,2772.252441,202.645737
1,249.991699,847.392700,597.095093,1953.833984,1368.077271,1091.822021,547.253723,376.570099,517.408325,77.975937,...,5175.181152,80.997910,475.419220,1054.865723,132.733597,214.676865,441.774658,339.398804,2698.774414,203.100952
2,247.811111,866.489868,591.708618,1940.373047,1365.361816,1089.732788,547.530518,375.167847,513.493408,79.762383,...,5168.428223,79.963531,480.124207,1045.673096,137.028732,229.217087,446.479889,335.825195,2682.969238,202.809601
3,244.031418,852.780396,602.501282,1932.944702,1381.469971,1079.951172,546.528076,374.544708,515.764954,77.782806,...,5220.545898,80.164673,493.044983,1060.207886,134.165298,224.579269,449.217407,335.970032,2685.178467,202.154083
4,237.441208,839.263184,602.407593,1921.477783,1356.088135,1070.217285,532.282715,367.266602,510.496674,74.016785,...,5147.023438,79.360130,483.993286,1055.600342,129.362152,208.827377,436.983887,332.299835,2618.816650,200.242172
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1517,705.549988,3227.149902,7011.350098,16189.450195,3489.750000,4224.799805,1684.150024,1149.550049,1510.699951,516.200012,...,18111.000000,198.149994,2389.000000,3586.399902,715.200012,1138.699951,1412.550049,2450.100098,6749.549805,564.150024
1518,706.700012,3237.199951,7044.549805,16133.599609,3511.149902,4181.600098,1669.800049,1153.000000,1500.900024,518.700012,...,17926.650391,198.050003,2374.050049,3563.800049,723.250000,1139.000000,1413.300049,2495.699951,6780.200195,567.099976
1519,654.849976,3069.050049,6627.799805,15245.200195,3446.000000,3936.649902,1544.349976,1098.550049,1419.400024,517.650024,...,17744.750000,191.100006,2255.750000,3401.649902,677.700012,1074.000000,1333.000000,2406.600098,6418.450195,537.150024
1520,695.150024,3119.199951,6969.399902,15772.150391,3422.750000,4138.350098,1567.849976,1129.699951,1456.099976,533.900024,...,17715.099609,197.300003,2283.949951,3520.750000,709.500000,1145.349976,1389.699951,2468.449951,6570.250000,555.250000
1521,707.500000,3174.649902,7002.299805,16012.549805,3427.449951,4265.000000,1598.500000,1126.949951,1426.250000,573.750000,...,17639.150391,209.149994,2359.550049,3554.199951,718.599976,1220.750000,1410.000000,2546.550049,6567.899902,555.799988

In [39]:
df

,ADANIPORTS,ASIANPAINT,BAJFINANCE,BAJAJFINSV,BRITANNIA,DIVISLAB,GRASIM,HCLTECH,HDFCBANK,HINDALCO,...,NESTLEIND,POWERGRID,RELIANCE,TCS,TATACONSUM,TATASTEEL,TECHM,TITAN,ULTRACEMCO,WIPRO
Date,,,,,,,,,,,,,,,,,,,,,
2016-01-01,259.295502,845.420410,601.376648,1978.063843,1374.428101,1103.977661,563.788391,376.525543,526.229126,81.983368,...,5280.469727,81.026634,484.996368,1075.699341,135.227539,215.094711,444.897217,340.026611,2772.252441,202.645737
2016-01-04,249.991699,847.392700,597.095093,1953.833984,1368.077271,1091.822021,547.253723,376.570099,517.408325,77.975937,...,5175.181152,80.997910,475.419220,1054.865723,132.733597,214.676865,441.774658,339.398804,2698.774414,203.100952
2016-01-05,247.811111,866.489868,591.708618,1940.373047,1365.361816,1089.732788,547.530518,375.167847,513.493408,79.762383,...,5168.428223,79.963531,480.124207,1045.673096,137.028732,229.217087,446.479889,335.825195,2682.969238,202.809601
2016-01-06,244.031418,852.780396,602.501282,1932.944702,1381.469971,1079.951172,546.528076,374.544708,515.764954,77.782806,...,5220.545898,80.164673,493.044983,1060.207886,134.165298,224.579269,449.217407,335.970032,2685.178467,202.154083
2016-01-07,237.441208,839.263184,602.407593,1921.477783,1356.088135,1070.217285,532.282715,367.266602,510.496674,74.016785,...,5147.023438,79.360130,483.993286,1055.600342,129.362152,208.827377,436.983887,332.299835,2618.816650,200.242172
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-02-22,705.549988,3227.149902,7011.350098,16189.450195,3489.750000,4224.799805,1684.150024,1149.550049,1510.699951,516.200012,...,18111.000000,198.149994,2389.000000,3586.399902,715.200012,1138.699951,1412.550049,2450.100098,6749.549805,564.150024
2022-02-23,706.700012,3237.199951,7044.549805,16133.599609,3511.149902,4181.600098,1669.800049,1153.000000,1500.900024,518.700012,...,17926.650391,198.050003,2374.050049,3563.800049,723.250000,1139.000000,1413.300049,2495.699951,6780.200195,567.099976
2022-02-24,654.849976,3069.050049,6627.799805,15245.200195,3446.000000,3936.649902,1544.349976,1098.550049,1419.400024,517.650024,...,17744.750000,191.100006,2255.750000,3401.649902,677.700012,1074.000000,1333.000000,2406.600098,6418.450195,537.150024
2022-02-25,695.150024,3119.199951,6969.399902,15772.150391,3422.750000,4138.350098,1567.849976,1129.699951,1456.099976,533.900024,...,17715.099609,197.300003,2283.949951,3520.750000,709.500000,1145.349976,1389.699951,2468.449951,6570.250000,555.250000
2022-02-28,707.500000,3174.649902,7002.299805,16012.549805,3427.449951,4265.000000,1598.500000,1126.949951,1426.250000,573.750000,...,17639.150391,209.149994,2359.550049,3554.199951,718.599976,1220.750000,1410.000000,2546.550049,6567.899902,555.799988

In [40]:
df.to_csv("n50_filtered_1_march.csv")